<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">L’histoire</h2>
        <h3 class="section-subheading text-muted">D’où nous est venu cette idée ?</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="/public/img/about/wall.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Le Besoin</h4>
                <h4 class="subheading">Pourquoi il y a un vrai besoin non satisfait ?</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">D'après l'ADEN, un site web permet une augmentation moyenne de 15% du chiffre d'affaires et ne représente qu'un investissement modéré. En 2015, rares sont donc ceux qui voudront fuir la toile. Mais mieux vaut la fuir qu’y aller de la mauvaise façon. Malheureusement, je constate qu’une majorité de site web, et en partie ceux des praticiens et thérapeutes en médecine douce sont très loin de présenter l’information conformément au standard actuel notamment sur la question du visuel, du design, de la navigation. Pour qu’un site soit agréable et moderne, cela coûte cher. Quant à l’administration du site, il faut souvent faire appel à des compétences d’un développeur ou payer l'accès à un portail spécifique. Si vous voulez un site pas cher, c’est possible, il y a des offres, mais rappelez-vous “on en a toujours pour son argent”.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="/public/img/about/team.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Notre motivation</h4>
                <h4 class="subheading">Ce qui nous a motivé ?</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Arnaud, ingénieur et moi, chef de projet nous nous sommes rencontrés dans une société très exigeante et à la pointe dans l’univers du web. Nous avons acquis une expertise dans ce domaine qui nous permet d’être complémentaire. C’est à la suite de plusieurs demandes de praticiens en médecine douce qui nous faisaient confiance et constatant un manque cruel d’offres sérieuses et abordables que nous sommes décidés à mettre en place un service haut de gamme vraiment adapté à vos besoins et à votre budget.
                  Mais cela ne nous intéressait pas de développer des sites en partant à chaque fois de zéro avec des budgets trop serrés pour aboutir à un résultat décevant. Alors on a réfléchi comment mettre en place un outil intelligent qui mutualiserait les efforts.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="/public/img/about/amazing.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>La solution</h4>
                <h4 class="subheading">Quelle est la solution que nous proposons ?</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Nous avons donc construit un modèle de site sur-mesure pour les professionnels de la santé alternative répondant à tous nos critères d’exigence (design, performance, référencement, administration simple…) et à partir duquel nous allons pouvoir générer le votre sur cette base solide avec un effort réduit. Vous partirez de notre modèle, et vous pourrez tout modifier et à tout moment : les textes, les couleurs, les photos, ajouter des pages de présentation de vos différentes activités. Aujourd’hui, nous sommes très fière du résultat obtenu et du prix que nous pouvons vous offrir pour vous permettre d’être présent sur Internet avec une carte de visite flatteuse, et fidèle à votre image et vous activité. Avec le temps et la demande, nous développerons d’autres modèles pour vous proposer plus de choix.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="/public/img/about/photography.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>L’offre</h4>
                <h4 class="subheading">Comment ça marche et combien ça coûte ?</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Vous choisissez votre formule (349€ HT à la souscription puis 19,50€ HT / mois ou bien 649€ HT et 9,5€ HT /mois).
                  L’abonnement mensuel couvre la gestion de votre nom de domaine, les frais d’hébergement, d’infogérance et de maintenance de votre site, un espace de stockage de 2,5 Go et un sous-domaine “votre-site.networqi.com”. Hotline et administration de votre site sont évidemment inclus. Vous pourrez faire vivre votre site sans connaissance en programmation.
                  Il vous ajouter au frais l’achat de votre propre nom de domaine si vous voulez une url spécifique sans mention “networqi.com” (à partir de 7 €/an sur Gandi). Nous vous proposons d’utiliser des photos libres de droits et gratuites sur Pixabay. Toutefois, vous êtes aussi libre d’acheter des photos ou d’utiliser vos propres photos si leur qualité le permet.
                  1h de conseil vous est offert au lancement. Au delà, vous payez le temps que vous consommez avec moi si vous souhaitez que je vous accompagne d’avantage sur le visuel et la communication de votre site.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Vous aussi
                <br/>Faites
                <br/>le bon choix !</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
