<!-- Services Section -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">L’offre de service</h2>
        <h3 class="section-subheading text-muted">1 site web clé en main et sur-mesure pour les besoins et les budgets des indépendants.</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-star fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Haut de gamme</h4>
        <p class="text-muted">Votre site web répond à des critères exigeants de <strong>design</strong>, de <strong>performance</strong>, de <strong>référencement</strong>, et d’administration pour une carte de visite flatteuse et digne de votre activité.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-history fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Simple</h4>
        <p class="text-muted">Vous pourrez faire vivre votre site sans connaissance en programmation. A partir de notre modèle vous pourrez <strong>tout modifier et à tout moment</strong> : les textes, les couleurs, les photos, gérer votre blog...</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-eur fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Pas cher</h4>
        <p class="text-muted"><strong>349€ HT à la souscription</strong> puis 19,50€ HT/mois (ou 649€ HT et 9,50€ HT/mois). L'<strong>abonnement mensuel</strong> couvre tout (hébergement, infogérance, maintenance, administration de votre site...)</p>
      </div>
    </div>
  </div>
</section>
