<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}" />
    <meta name="author" content="Arnaud Dezandee @networqi.com" />
    <link rel="shortcut icon" href="/public/favicon.ico">

    <meta property="og:url" content="http://agency.networqi.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:image" content="http://agency.networqi.com/public/img/nq_agency_bg.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="762" />
    <meta property="og:image:height" content="234" />

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/agency.css">

    <!-- Custom Fonts -->
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="page-top" class="index">
    {% include header.html %}
    {% include services.html %}
    {% include portfolio_grid.html %}
    {% include about.html %}
    {% include team.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}

    <!-- jQuery Version 1.11.0 -->
    <script src="/public/js/jquery-1.11.0.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/public/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="/public/js/jquery.easing.min.js"></script>
    <script src="/public/js/classie.js"></script>
    <script src="/public/js/cbpAnimatedHeader.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="/public/js/jqBootstrapValidation.js"></script>
    <script src="/public/js/contact_me.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/public/js/agency.js"></script>
  </body>
</html>
